// Vendor
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-slider/dist/bulma-slider.sass";
@import "~bulma-extensions/bulma-divider/dist/bulma-divider.sass";
@import "~bulma-extensions/bulma-tooltip/dist/bulma-tooltip.sass";
@import "~bulma-extensions/bulma-steps/dist/bulma-steps.sass";
@import "~bulma-extensions/bulma-switch/dist/bulma-switch.sass";
@import "~bulma-extensions/bulma-checkradio/dist/bulma-checkradio.sass";

// Custom
@import "timeleft";

.is-vertical-center {
  display: flex;
  align-items: center;
}

.footer {
  padding: 1rem;
  margin-top: 7rem;
}

.timeleft-loader {
  height: 3em;
  width: 3em;
  margin: 0 auto;
}

// dirty fix for the added answer field not being on the same height as the add answer button
[id^=to-be-deleted] {
    position: relative;
    top: -57px;
  @include until($tablet) {
    position: initial;
    top: 0;
  }
}

#allowed-answer-count .control {
  width: 60px;
}

.createPage {
  .steps-actions {
    margin-top: 5rem;
  }
}

.modal {
  .subtitle {
    margin-top: 3rem;
  }
}