// Vendor
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-slider/dist/bulma-slider.sass";
@import "~bulma-extensions/bulma-divider/dist/bulma-divider.sass";
@import "~bulma-extensions/bulma-tooltip/dist/bulma-tooltip.sass";
@import "~bulma-extensions/bulma-steps/dist/bulma-steps.sass";
@import "~bulma-extensions/bulma-switch/dist/bulma-switch.sass";
@import "~bulma-extensions/bulma-checkradio/dist/bulma-checkradio.sass";
@import "~cookieconsent/build/cookieconsent.min.css";

// Custom
@import "timeleft";

.is-vertical-center {
  display: flex;
  align-items: center;
}

.footer {
  padding: 1rem;
  margin-top: 2rem;
  @include from($tablet) {
    margin-top: 7rem;
  }
}

.timeleft-loader {
  height: 3em;
  width: 3em;
  margin: 0 auto;
}

[id^=to-be-deleted] {
    position: relative;
    top: -57px;
  @include until($tablet) {
    position: initial;
    top: 0;
  }
}

#allowed-answer-count .control {
  width: 60px;
}

.createPage {
  .steps-actions {
    margin-top: 5rem;
  }
  .is-checkradio[type="checkbox"] + label {
    margin: .5em .5em .5em 0;
  }
  form {
    #configure-step .field:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.modal {
  .subtitle {
    margin-top: 3rem;
  }
  .modal-card-body {
    padding: 20px 50px 50px 50px;
  }
}
.has-gap-top {
  margin-top: 4rem;
}