{% if (backUrl is defined or forwardUrl is defined) and timeLeftToVote is not empty  %}
    <div class="columns" id="navigationBar">

        <div class="column has-text-left-tablet has-text-centered-mobile">
            {% if backUrl is defined %}
                <a class="button is-white is-medium"
                   href="{{ backUrl }}">
                    <span class="icon">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>{{ backText }}</span>
                </a>
            {% endif %}
        </div>

        <div class="column has-text-centered-tablet has-text-centered-mobile">
            {% include 'partial/timeleft.html.twig'
                with {'timeLeftToVote': timeLeftToVote} %}
        </div>

        <div class="column has-text-right-tablet has-text-centered-mobile">
            {% if forwardUrl is defined %}
                <a class="button is-info is-medium"
                   href="{{ forwardUrl }}">
                    <span>{{ forwardText }}</span>
                    <span class="icon">
                      <i class="fas fa-chart-pie"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="is-divider"></div>
        </div>
    </div>
{% endif %}