<span class="tooltip {% if tooltipMultiline %}is-tooltip-multiline{% endif %} has-text-centered is-hidden-mobile"
      data-tooltip="{{ tooltipText }}">
    <i class="fas fa-info-circle"></i>
</span>